@import "../../sass/reset.scss";
@import "../../sass/variables.scss";

.signup {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 20px 2px rgba(48, 82, 122, 0.08);
  padding: 20px;
  form {
    width: 100%;
    margin-top: 30px;
  }
}
